/* GLOBAL STYLES */
body {
  background: #444;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.blastingBeans {
  text-align: center;
}

.g-recaptcha {
  position: absolute;
  padding-top: 23px;
  margin: auto;
  width: auto;
  display: inline-block;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

 /* The alert message box */
 .ralert {
  top: 90%;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  position: fixed;
}

.scroller {
  overflow-y: auto;
  scrollbar-color: rgb(44, 44, 44) black;
  scrollbar-width: thin;
}

.topbar {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 8%;
  color: white;
  background-color: #333;
  font-family: monospace;
}

.topbar span:hover {
  cursor: pointer;
  color: #a7a7a7;
}

.topbar span {
  width: 8%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s ease-in;
}

#topbarBal {
  text-align: right;
}

.topbar a {
  font-size: 30px;
}

.seperator {
  margin: auto;
  width: 90%;
  height: 1px;
  background-color: white;
}


.Achievement {
  margin: auto;
  width: 90%;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
}

.achievements {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 50%;
  height: 80%;
  background-color: rgb(20, 20, 20);
  position: absolute;
  border-style: double;
  border-color:rgb(180, 180, 180);
}

.invis {
  display: none;
}

.vis {
  display: block;
}

#achBtn {
  top: 92%;
}

.galert {
  top: 90%;
  padding: 20px;
  background-color: #36f456; /* Red */
  color: white;
  margin-bottom: 15px;
  position: fixed;
}

.ialert {
  top: 90%;
  padding: 20px;
  background-color: #fbff00; /* Red */
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  position: fixed;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.sHead {
  font-size: 17px;
}

.header {
  padding-top: 40px;
  color: #fff;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: .15em;
  margin: 0 auto;
  position: absolute;
}

.header h1 {
  margin: 0 auto;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.clickers {
  position: relative;
  padding-top: 210px;
}

.flat:hover {
  cursor: pointer;
}

.flat {
  position: relative;
  display:block;
    border-radius: 0;
  background: none;
    border: 1 double rgb(255, 255, 255);
    color: white;
  font-family: monospace;
  width: 300px;
  height: 90px;
  font-size: 20px;
}

.shopHead {
  width: 100%;
  margin: 0 auto;
  color: white;
  padding-top: 40px;
  font-family: monospace;
  font-size: 40px;
}

.bbMoney {
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  text-align: center;
}

.bbPercent {
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  text-align: center;

}

.bbOutcome {
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  text-align: center;

}

.bbHead {
  width: 100%;
  margin: 0 auto;
  color: white;
  padding-top: 40px;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}

.slider {
  width: 100%;
}


.shopBtns {
  text-align: center;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  border-spacing: 50px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.vflex {
  display: flex;
}

.shopflat:hover {
  cursor: pointer;
}

.shopflat {
  top: 120px;
  position: relative;
  display: table-row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-self: flex-end;
  border-radius: 0;
  background: none;
  border: 1 double rgb(255, 255, 255);
  color: white;
  font-family: monospace;
  width: 300px;
  height: 90px;
  font-size: 20px;
}

.flat:hover {
  border-color:rgb(180, 180, 180);
}

.extraflat:hover {
  cursor: pointer;
}

.extraflat {
  top: 96%;
  left: 87%;
  position: absolute;
  display:block;
  border-radius: 0;
  background: none;
  border: 1 double rgb(255, 255, 255);
  color: white;
  font-family: monospace;
  width: 12%;
  height: 3%;
  font-size: 100%;
}

.extraflat:hover {
  border-color:rgb(180, 180, 180);
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgba(255, 166, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
  0% { border-color: transparent}
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}